{% extends "djangoGraduateAppTemplates/base.html" %}
{% block title %} Личный кабинет клиента DjangFood {% endblock %}
{% block header %} Добро пожаловать в ваш личный кабинет {% endblock %}
{% block content %}
<a class="btn btn-info" href="/" role="button">На главную</a>
<br><br>
<a class="btn btn-info" href="/client_orders_page" role="button">Посмотреть свои заказы</a>
<br><br>
<form method = "post">
    {% csrf_token %}
    <button class="btn btn-warning btn-sm"  type="submit">Выйти</button>
</form>
{% endblock %}